<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
</head>
<body>
    <h1>ABOUT PAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus omnis consequatur, molestias deserunt nisi laudantium officiis possimus consequuntur itaque illum placeat incidunt quisquam distinctio maxime maiores cumque et earum. Cum aspernatur quam magnam velit, quia praesentium sapiente, deserunt provident veritatis quod ullam minus! Cumque est sunt velit? Molestiae, vitae officia?</p>

</body>
</html>