<!DOCTYPE html>
<html lang="en">
{%load static%}    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{%static 'HOME.css'%}">
    
</head>
<body>
    <h1>HOME PAGE</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur id in consequatur vitae nulla modi, omnis recusandae iste voluptate numquam.</p>
    
    
</body>
</html>
